* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.segment-content {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: center; */
    width: 100%;
    height: 50%;
    /* position: absolute; */
    position: relative;
}

.image-section {
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left right" "left right";
    width: 50%;
}

.left-segment-image {
    border-radius: 24px;
    padding: 10px;
    grid-area: left;
    width: 100%;
    height: 100%;
}

/* .right-images {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.right-segment-image {
    border-radius: 24px;
    padding: 10px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.image-column {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.segment-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* place-items: center; */
    /* vertical-align: middle; */
}

.text-section h2 {
    font-size: 24px;
    /* font-weight: bold; */
    margin-bottom: 20px;

    /* vertical-align: middle; */
}

.text-section p {
    font-size: 16px;
    margin: 0 auto;
    /* margin-top: 20px; */
    /* place-items: center; */
    /* position: relative; */
    /* display: inline-block; */
    /* vertical-align: middle; */
}

.back-button-container {
    background: none;
    border: 0;
}

.next-button-container {
    background: none;
    border: 0;
}

.back-button-image {
    margin-left: 20px; 
    margin-right: auto;
    max-width: 50%;
    z-index: 2;
    cursor:pointer;
    /* transition: background-color 0.3s ease, color 0.3s ease */
}

.next-button-image {
    margin-left: auto; 
    margin-right: 20px;
    max-width: 50%;
    z-index: 2;
    cursor:pointer;
    /* transition: background-color 0.3s ease, color 0.3s ease */
}
/* .back-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 18px; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white;
    border: none;
    cursor: pointer;
}

.back-button {
    left: 5px;
    
}

.next-button {
    right: 0;
} */

/* Dot Indicators for Mobile View */
.dot-indicators {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #5c5c5c;
}

/* Mobile View */
@media (max-width: 768px) {
    .segment-content {
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* justify-content: center; */
        width: 100%;
        height: auto;
        /* position: absolute; */
        position: relative;
    }

    .image-section {
        /* padding: 10px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "left right" "left right";
        width: 100%;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        text-align: center;
        /* place-items: center; */
        /* vertical-align: middle; */
    }

    .text-section {
        width: 100%;
        margin-top: 20px; /* Add space between images and text */
    }

    .back-button-container, .next-button-container {
        display: none;
    }
}
